@page
@model Tarea1_Bases1.Pages.AgregarPacienteModel
@{
    var fechaHoyH = Model.fechaHoy.ToString("yyyy-MM-dd");
}

@if(Model.hayDatos)
{
    <p>Hola @Model.nombre</p>
    <p>Estoy intentando terminar esto.</p>
    
}
@if (Model.errorVacio)
{
    <h1>Error</h1>
   <p>No debe de dejar espacios vacíos.</p>
   
}

@if (Model.errorCedulaNumeros)
{
    <h1>Error</h1>
    <p>La cédula solo debe contener números.</p>

}

@if (Model.errorCedulaLargo)
{
    <h1>Error</h1>
    <p>La cédula debe contener al menos 9 dígitos.</p>

}

@if (Model.agregadoCorrectamente)
{
    <h1>Completado</h1>
    <p>Se ha agregado el paciente correctamente.</p>

}


<h1>Agregar Paciente</h1>
    <div class="container">
        <form method="POST">
            <label for="Nombre">Nombre</label>
            <input type="text" id="Nombre" name="Nombre" , value="@Model.nombre"><br> <br />
            
            <label for="Apellido">Apellido</label>
            <input type="text" id="Apellido" name="Apellido", value="@Model.apellido"><br> <br />

            <label for="Cedula">Cédula</label>
            <input type="text" id="Cedula" name="Cedula" value="@Model.cedula"><br> <br />
                
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" id="fecha" name="fecha" value="@fechaHoyH" max="@fechaHoyH" /><br /><br />

            <label for="Direccion">Dirección</label><br>
            <textarea id="Direccion" name="Direccion" style="height:200px" @Model.direccion></textarea><br>

            <input type="submit" name="Registar" value="Registrar" />

        </form>
    </div>
